/* Reset de estilos */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Estilo para el body */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #1a1a1a;
    color: #fff;
}

/* Estilo para el header */
header {
    background-color: #1a1a1a#333;
    padding: 20px;
    text-align: right; 
}

/* Estilo para los enlaces en el header */
header a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    text-align: right;
}


/* Estilo para los enlaces en el header */
.header-link {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

/* Estilo para los enlaces en el fheader */
.header-link:hover {
    text-decoration: underline;
}
header .btn-acceder {
    background-color: #4285f4;
    color: #fff;
    padding: 10px;
    margin: 15px 15px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}
header .btn-acceder:hover {
    border: 1px solid #fff; /* Iluminación en el contorno */
}
header .boton-google {
    margin: 0px 10px 0px 10px;
    padding: 8px;
    text-align: center;
}
header .boton-google:hover {
    border-radius: 100px;
    background-color: #2c2d31;
}

/* Estilo para el main */
main {
    padding: 20px;
}

/* Estilo para la sección principal */
main section {
    text-align: center;
}

/* Estilo para el logo en la sección principal */
main #logo {
    width: 300px; /* Ajusta el tamaño según sea necesario */
}

/* Estilo para el input de búsqueda en la sección principal */
main #input-search {
    background-color: transparent;
    color: #fff;
    padding: 12px;
    margin: 40px 0;
    width: 600px;
    border: 2px solid #ccc;
    border-radius: 20px;
    text-align: center;
    cursor: text;
    transition: border-color 0.2s ease;
}
/* Estilo para el input para mantener cambios  */
main #input-search:hover, #input-search:focus, #input-search:active{
    background-color: #2c2d31;
    border-color: #1f1e1e;
}


/* Estilo para los botones de búsqueda en la sección principal */
main .btn-search {
    background-color: #2c2d31;
    color: #fff;
    padding: 10px;
    margin: 10px 5px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}
main .btn-search:hover {
    border: 1px solid #fff;
 
}

/* Estilo para el footer */
footer {
    background-color: #141414;
    padding: 10px;
    text-align: center;
    bottom: 0;
    position: fixed;
    width: 100%;
   
}
/* Estilo para los enlaces en el footer */
.footer-link {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

/* Estilo para los enlaces en el footer en hover */
.footer-link:hover {
    text-decoration: underline;
}